.why__title {
    color: #212B31;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
}
.why__description {
    color: #212B31;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}
.why__info h3 {
    color: #212B31;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.why__info p {
    color: #72787D;
    font-family: Inter;
    font-size: 16px;
    max-width: 394px;
}
.why__info {
    display: flex;
    gap: 16px;
    margin-top: 30px;
}


.why__box {
    border-radius: 5px;
    background: #F6F8F9;
    padding: 60px 90px;
    z-index: -2;
    max-width: 614px;
    box-sizing: border-box;
    
}

.why__box-description {
    color: #212B31;
    font-family: Inter;
    font-size: 30px;
    position: relative;
    z-index: 1;
}

.why__box-description img {
position: absolute;
top: -15px;
left: -46px;
z-index: -1;
}
.why__author{
    display: flex;
    align-items: center;
}

.why__box-info h3, .why__box-info p {
    margin: 0;
}

.why__box-info h3 {
    color: #212B31;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
.why__box-info p {
    color: #72787D;
    font-family: Inter;
    font-size: 16px;
}

.swiper {
    width: 50%;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction  {
    width: 45%;
    bottom: 20px;
}

.why {
 margin-top: 96px;
}
.why__content {
  display: flex;
  justify-content: space-between;
}
.why__infos {
    max-width: 50%;
}
.why__review{
    max-width: 50%;
}
.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
   width: 100%; 
}

@media screen and (max-width:1035px) {
    .why__content {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .why__box {
        max-width: 314px;
        padding: 30px 45px;
    }
    .why__box-description {
        font-size: 15px;
    }
    
}

@media screen and (max-width:903px) {
    .why__infos {
        max-width: 100%;
      }
      .why__review {
          max-width: 100%;
      }     
      
      .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        width: 100%; 
     }
}